[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
atomicwrites = "*"
codecov = "*"
django-debug-toolbar-request-history = "*"
django-extensions = "*"
django-graphiql-debug-toolbar = "*"
flake8 = "*"
pre-commit = "*"
pylint-celery = "*"
pylint-django = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-django-queries = "*"
pytest-mock = "*"
pytest-vcr = "*"
pytest-xdist = "*"
tox = "*"
transifex-client = "*"

[packages]
bleach = "*"
boto3 = "*"
braintree = "*"
celery = "*"
dj-database-url = "*"
dj-email-url = "*"
django-countries = "*"
django-filter = "*"
django-graphql-jwt = "*"
django-measurement = "*"
django-mptt = "*"
django-phonenumber-field = "*"
django-prices-openexchangerates = "*"
django-prices-vatlayer = "*"
django-silk = "*"
django-storages = "*"
django-templated-email = "*"
django-versatileimagefield = "*"
draftjs-sanitizer = "*"
faker = "*"
freezegun = "*"
google-cloud-storage = "*"
google-i18n-address = "*"
google-measurement-protocol = "*"
graphene-django-optimizer = "*"
graphene-federation = "*"
gunicorn = "*"
html-to-draftjs = "*"
jaeger-client = "*"
markdown = "*"
maxminddb-geolite2 = "*"
oauthlib = "*"
phonenumberslite = "*"
psycopg2-binary = "*"
purl = "*"
pycodestyle = "*"
razorpay = "*"
redis = "*"
sentry-sdk = "*"
stripe = "*"
tqdm = "*"
uWSGI = "*"
WeasyPrint = "*"
python-magic = "*"

[requires]
python_version = "3.8"
